<div id="nav" style="margin: 0px; margin-top: 0px; margin-bottom: 0px; margin-left: 0px; margin-right: 0px; padding:0px 0px 0px 0px; color:#0094ff">
    <ul id="main-menu" class="sm sm-blue">
        <li id="00">
            <a title="Go to home page" href="@Url.Content("~/Manager/Index")"><span id="logo-menu">管理者首页</span></a>
        </li>
 
        <li id="01">
            <a href='@Url.Content("~/Manager/Consume_MainPage")'>点心消费专用刷卡</a>
        </li>
        <li id="02">
            <a href='@Url.Content("~/Manager/Bill_MainPage")'>一般刷卡</a>
        </li>
        
        <li id="03">
            <a href='@Url.Content("~/Manager/Fill_MainPage")'>学生证扣款</a>
        </li>
 

    
    </ul>
</div>
<!-- #nav end -->
             