<div class="main_top">
    <div class="main_logo"><img src="~/images/logo_denglu.png" /></div>
    <div class="main_title"><i class="fa fa-user-o"></i>&nbsp;选课及收费系统</div>
    <div class="main_logout" style="vertical-align: bottom; font-size: 12px">@ViewBag.UserName</div>
</div>