@{
    ViewBag.Title = "学生事务系统";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
@Html.Partial("ClientMenuPartial")
<script charset="utf-8" src="@Url.Content("~/Scripts/bootstrap/bootstrap.bundle.min.js")" type="text/javascript"></script>

<!-- 表格 -->


<div class="container  text-left p-2" style="background:#ffffff">
    <div class="row">
        <div class="col-auto p-2" style="padding-left:10px;padding-top:5px; ">
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf01.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf02.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf03.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf04.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf05.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf06.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf07.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf08.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf09.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘10.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘11.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘12.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘13.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘14.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘15.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘16.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘17.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘18.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘19.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘20.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘21.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘22.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘23.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘24.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘25.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘26.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘27.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘28.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘29.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘30.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘31.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘32.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘33.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘34.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘35.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘36.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘37.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘38.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘39.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘40.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘41.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘42.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘43.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘44.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘45.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘46.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘47.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘48.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘49.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘50.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘51.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘52.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘53.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘54.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘55.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘56.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘57.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘58.png" />
            <img src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf‘59.png" />

        </div>
    </div>
</div>


<!--頁腳/開始-->
<footer class="mt-5 bg-dark footer-content" style="background:#ffffff">
    <p class="text-center text-white mb-0 mt-0"> </p>
</footer>
<!--頁腳/結束-->






