@{
    ViewBag.Title = "学生事务系统";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
@Html.Partial("ClientMenuPartial")
<script charset="utf-8" src="@Url.Content("~/Scripts/bootstrap/bootstrap.bundle.min.js")" type="text/javascript"></script>

<!-- 表格 -->


<div class="container  text-left p-2" style="background:#ffffff">
    <div class="row">
        <div class="col-auto p-2" style="padding-left:10px;padding-top:5px; ">
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf01.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf02.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf03.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf04.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf05.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf06.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf07.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf08.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf09.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf10.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf11.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf12.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf13.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf14.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf15.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf16.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf17.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf18.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf19.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf20.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf21.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf22.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf23.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf24.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf25.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf26.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf27.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf28.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf29.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf30.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf31.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf32.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf33.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf34.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf35.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf36.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf37.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf38.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf39.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf40.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf41.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf42.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf43.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf44.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf45.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf46.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf47.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf48.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf49.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf50.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf51.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf52.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf53.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf54.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf55.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf56.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf57.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf58.png" />
            <img style="width:99%" src="/BDC/Images/X/648a83c2-cb14-4b5f-ab5d-b4903d78f77a.pdf59.png" />



        </div>
    </div>
</div>


<!--頁腳/開始-->
<footer class="mt-5 bg-dark footer-content" style="background:#ffffff">
    <p class="text-center text-white mb-0 mt-0"> </p>
</footer>
<!--頁腳/結束-->






